*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------------------------------------------------HEADER-----------------------------------------------------------------------------*/
header{
   background-image: url(logo1.jpeg);
   background-repeat: no-repeat;
   background-size: 100%;
   padding: 250px;
}
/*movil*/
@media (max-width:500px)and(orientation:portrait){
    header{
        background-repeat: no-repeat;
        background-size: 100%;
        padding:0px;
        background-position: center center;
    }
}
/*escritorio*/
@media (min-width:74.999em){
    body {background:white;}
}
/* tablet*/ 
@media (min-width:575px)AND(max-width:990px)AND(orientation:portrait){
    body { background: white;}
}
/*movil*/
@media (max-width:575px)AND(orientation:portrait){
    body{background:white;}
}
/*------------------------------------------------------------------------------------carrito----------------------------------------------------------------------------------------*/
.carrito{
    margin-left: -200px;
    margin-top: -210px;
    height: 100%;
    max-height: 20px ;
    position: absolute;
}
/*movil*/
@media (max-width:580px)and(orientation:portrait){
    .carrito{
        height: 100%;
        max-height: 10px;
    }
}
/*---------------------------------------------------------------barra horizontal-----------------------------------------------------------------*/
/*----movil-------*/
@media (max-width:550px)AND(orientation:portrait){
    .BARRA{
        width: 100%;
        max-width: 5800px;
        overflow: hidden;
        list-style-type: none;
    }
}
.BARRA {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8a8c7;
    width: 100%;
    max-width: 2000px;
    margin-top: -5px;
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.BARRA:hover.dropbtn:hover{
    background-color: #ffe7f0;
} 
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fccbdd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
    display: block;
}
/*-------------------------------------------------------fin barra horizontal---------------------------------------------------------------------*/
/*---------------------------------------------------------------BODY-----------------------------------------------------------------------------*/
body{
    background-color: white; 
    overflow-x: hidden;
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    
}
.conteiner{
    display: flex;
}
.fotosbody{
    position: relative;
    display: flex;
}
.fotosbody img{
    padding: 15px;
    top:2em;
    left:5em;
    height: 100%;
    max-height: 1000px;
}
.textobody{
    width: 70em;
    display: flex;
    position: absolute;
    right: 5em;
}
.textobody h1{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    bottom: 5px;
    margin-left: 15em;
}
.textobody p{ 
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify; 
    width: 700px;
    margin-top: 70px;
    margin-left: -30em;
    line-height: 2em;
}
/*----movil-------*/
@media (max-width:580px)AND(orientation:portrait){
    .container2{
        width: 100%;
        max-width: 500px;
    }
    .fotosbody{
        display: flex;
        position: absolute;
        flex:left;
    }
    .fotosbody img{
        margin-left: 0px;
        height: 50%;
        max-width: 50%;
    }
    .textobody{
       position: relative;
       display: flex;
       flex-wrap: wrap;
       right: 1em;
       margin-top: 1000px;
    }
    .textobody h1{
        font-size: 10px;
        margin-left: 10px;
    }
    .textobody p{ 
        font-size: 5px; 
        margin-left: 10px;
    }
}
/*----------------------------------------------------------------------------------FOOTER-------------------------------------------------------------------------------------------*/
footer{
   background-color: rgb(188, 255, 246);
   padding: 40px;
   position: relative;
   display: flex;
   width: 100%;
   margin-top: auto;
}
/*--------------------------------------------------------------------------------iconos---------------------------------------------------------------------------------------------*/
.icono{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    display: grid;
    transition: all 300ms ease;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul{ 
    list-style:none;
}
.icono img{
    flex-basis: 100%;
}
.ico1{
    margin-left: 0em;
    display: flex;
    position: absolute;
    bottom: 0.313em;
    top:2.5em;
    size: 100%;
}
.ico2{
    margin-left: 10em;
    display: flex;
    position: absolute;
    bottom: 0.313em;
    top:2.5em;
}
.ico3{
    margin-left: 20em;
    display: flex;
    position: absolute;
    bottom: 0.313em;
    top:2.5em;
}
.ico4{
    margin-left: 175vh;
    display: flex;
    position: absolute;
    bottom:0em;
    top:5em;
}
.ico5{
    margin-left: 160vh;
    display: flex;
    position: absolute;
    bottom:3.13vh;
    top: 6vh;
    color: black;
} 
.contador{ 
    margin-left: 1370px;
    margin-top: 70px;
}
/*----movil----*/
@media (max-width:580px) and (orientation:portrait){
    footer{
    background-color: rgb(188, 255, 246);
    position: relative;
    display: flex;
    width: 100%;
    min-width: 570px; 
    margin-top: 200px;
    }
    .icono{padding: 3px;
    }
    .ico1{margin-left: -50px;
        bottom: 100%;
        top:5px;
        size: -1000%;
    }
    .ico2{margin-left: 50px;
        bottom: 100%;
        top:5px;
        size: -90%;
    }
    .ico3{margin-left: 135px;
        bottom: 100%;
        top:5px;
        size: -91%;
    }
    .ico4{margin-left:270px;
        bottom: 100%;
        top:5px;
        size: -90%;
    }
    .ico5{margin-left: 150px;
        bottom: 100%;
        top:5px;
        margin-top: 100px;
        size: -90%;
  }
  .contador{
        margin-left: 250px;
        margin-top: 50px;
  }
}